* {
  margin: 0;
  padding: 0;
  border: o none;
  position: relative;
}



@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1255px !important;
   
  }
}
@media (min-width: 1200px){
div.Contacarrousel{
  max-width: 1153px;
   
  }
}
@media (min-width: 1200px){
.container.ContaDestacados{
    max-width: 1160px;
   
  }
}
/* esta es la parte que adapta las img */
.imagen{
  -o-object-fit: cover;
    object-fit: cover;
    width: 200px;
}
@media (max-width: 991px) {
  .titu_card {
    font-size:25px;
  }
}

@media (max-width: 767px) {
  .titu_card {
    font-size:25px;
  }
}

@media (max-width: 1199px) {
  .logo {
    height: 110px;
    position: fixed;
  }
  .logoIMG {
    width: 120px;
  }
}



.SignUp {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    outline: none;
    flex: 0 0 auto;
    border-radius: 8px;
    height: 2.5rem;
    color: white;
    opacity: 1;
    font-size: 1rem;
    padding: 0px 1rem;
    border: transparent;
    background-color: rgb(12, 108, 242);
    line-height: 2.5rem;
    }

@media (max-width: 1199px) {
  .header-area {
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 999999;
    transition: all 0.4s ease 0s;
  }
}

@media (min-width: 1300px) {
  .header-area {
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 999999;
    transition: all 0.4s ease 0s;
  }
}

@media (max-width: 1295px) {
  .displayLeft {
    display: none;
  }
}


@media (min-width: 1296px) {
  .hide {
    display: none !important;
  }
}

/* @media (max-width: 1197px) { Con este media query el logo se desplaza un poco a la drch y se queda estático
  .logoIMG {
    position: fixed;
    top: 0;
  }
} */

.menuDrch{
  padding: 0 0 25px 0 !important;
}

@media (ax-width: 1199px) {
  .dorado{
    text-align: right;
    margin: 10px 20px 10px 0px;
    padding-right: 10px;
  }

}

@media (min-width: 1298px) {
  .mrIzdB{
    margin-right: 100px;
  }
  .mrIzdG{
    margin-right: 20px;
  }
}

@media screen and (min-width: 1199px) and (max-width: 1298px) {
  .mrIzdB{
    margin-right: 110px;
  }

} 


@media (max-width: 570px) {
  .menuD {
    margin-right: 0px;
  }
}



a.dorado:hover {
  color:#ba9237 !important;
}


a.dorado {
  color: black;
}

 /* navbar derechoo */
.menu-left li {
    display: inline-block;
    text-align: center;
}
div .logo {
    flex: 0 0 35.666667%;
    max-width: 10.999999%;
}
.menu-left li a {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
div.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 45.666667%;
    max-width: 84.666667%;
}
.carousel-caption.tituloD {
    position: absolute;
    right: -36%;
    top: 208px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #001A37;
    text-align: center;
}
/* fin navbar derecho */

.menuD {
  margin-right: 23px;
  font-size: 15px;
  margin-bottom: 20px;
}

.displayLeft {
  margin-bottom: 20px;
}


@media (max-width: 1197px) {
  .home-banner-area {
    background: white;
    padding: 80px 0px 100px;
  }
}

@media (max-width: 850px){
.home-banner-area {
    background: white;
    padding: 80px 0px 50px;
}
}
/* 
@media (max-width: 900px){
.home-banner-area {
    background: white;
    padding-bottom: 30px;
}
} */





.bannerH1 {
  font-size: 60px;
  color: white;
}
@media (max-width: 1199px) {
  .bannerH1 {
    font-size: 50px;
  }
}
@media (max-width: 900px) {
  .bannerH1 {
    color: black;
    font-size: 35px;
  }
}
@media (max-width: 575px) {
  .bannerH1 {
    font-size: 32px;
  }
}

@media (max-width: 900px) {
  .bannerH1 {
    color: black;
    font-size: 35px;
    padding-top: 12px;
  }
}

@media (max-width: 390px) {
  .bannerH1 {
    color: black;
    font-size: 27px;
    padding-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.marginAviso{
  padding: 150px 30px 25px 30px; 
  background-color: #ffffff;
}

img {
    height: auto;
    max-width: 100%;
}

.menu-left  {
  width: 80%;
  margin: 1.5rem auto;
}
.menu-left ul {
  list-style-type: none; 
  text-align: center;
  font-size: 0;
  width: 100%;
}
.menu-left > ul li {
  display: inline-block;
  width: 100%;
  position: relative;

}
.menu-left li a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  line-height: 2.5rem;

}
.menu-left li:hover a, .menu-left li a:focus {
  color: rgb(0, 0, 0);
}

.menu-left li ul {
  background-color: cadetblue;
  position: absolute;
  width: 0;
  overflow: hidden;
}
.menu-left li:hover ul, .menu-left li:focus ul {
  width: 100%;
  margin: 1px 13px;
  padding: 0 0 10px 0;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  text-align: center; 
  background-color: white;
  z-index: 5;
}

.menu-left li li {
  display: block;
  width: 100%;
}
.menu-left li:hover li a , .menu-left li:focus li a {
  font-size: .9rem;
  line-height: 1.7rem;

}

.menu-left li li a:hover, .menu-left li li a:focus {
    background: #d8bf86; 
}

.listArrow>a:before{  /*flecha de la lista desplegable*/
  top: 0;
  right: 0px;
  font-size: 13px;
  content: '\f0d7';
  position: absolute;
  line-height: inherit;
  font-family: FontAwesome;
}

/*----------------------MENU RIGHT-------------------------*/

.CajaAncho{
  width: 70%;
}

span.carousel-control-prev-icon{
  background-color: #D67B1E;
}
span.carousel-control-next-icon{
  color: #D67B1E;
  background-color: #D67B1E;
}

.carousel-inner img {
 height: 625px;
margin: auto;
   
   
}
div.carousel-inner {
 
height: 625px;
margin: auto;
 
   
}
.carousel-inner{
  margin-top: 200px;
  height: auto;
}
div .flayer{
    height: 633px;
    width: 663px;
}

.carousel-caption {
text-align: center;
font-size: 50px;
}

.text-center{
text-align: center !important;
}


.page-section {
  padding: 12rem 0;
}
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}




.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}


.loginForm{
text-decoration: none;  
}


div .row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   
}
.row{
  text-align: center;
width: 1246px;
}
div.esta{
  margin-left: 55px;
}



div .img-fluid {
    max-width: 100%;
    width: 314.750px;
    height: 314.750px;
}
img {
    border-style: none;
    width: 300px;
    height: auto;
}
  .product-block{
  margin-left: 200px;

}


.footer {
    padding: 50px 0 20px 0;
    background-color: #05406D;
    color: #878c94;
}
.footer .title{
	text-align: left;
	color:#fff;
	font-size:25px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}
.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
	margin-right:25px;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.footer .payment{
	margin:0px;
	padding:0px;
	list-style-type:none
}
.footer .payment li{
	list-style-type:none
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float:left;
    font-size: 25px;
    padding: 10px 10px;
}

div.col-sm-3.columnas {
    -ms-flex: 0 0 25%;
    flex: 2 0 29%;
    max-width: 32%;
    padding-left: 114px;
    padding-right: 0px;
}

div.col-sm-3.Fpagos {
    -ms-flex: 0 0 25%;
    flex: 2 0 29%;
    max-width: 30%;
    padding-left: 160px;
    padding-right: 0px;
}
div.row.pie{
  text-align:left;
  padding-left: 150px;
}
