{% extends 'app/index.html'%} {% load static %} {% load bootstrap4 %}
{% block content %}{% load widget_tweaks %}

 <section class="page-section text-white mb-0" style="background-color: #05406D;" id="quienes">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Quiénes Somos</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Somos una academia de Trading de Republica Dominicana fundada en el año 2018 y una segunda sucursal en Madrid(España) fundada en el año 2020.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Nos encargamos de la formación profesional en el ámbito de las inversiones en el mercado de Forex y Criptomonedas.</p>
                </div>
                 <div class="col-lg-4 mr-auto">
                    <p class="lead">Lo que nos diferencia de las demás academias es que una vez alcanzada tu rentabilidad podras pertenecer a nuestro equipo de trabajo.</p>
                </div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <h3>+ de 150 personas en nuestro equipo de trabajo.</h3>
                  
                </a>
            </div>
        </div>
    </section>

{% endblock content %}